.list {
    border: 2px solid gray;
    border-radius: 10px;
    width: 80vw;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}

.item {
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 80%;
    justify-self: center;
}

.item h2 {
    padding: none;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.page-button {
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.button-current {
    height: 50px;
    cursor: default;
}

.button-disabled {
    opacity: 0.5;
    cursor: default;
}

.button-active {
    color: white;
    background-color: brown;
}